[Unit]
Description=Notify discord you're in or out by touching student ID card
After=network.target

[Service]
ExecStart=/usr/bin/sudo -u pi /home/pi/busitu-nyutaisitu/run.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
